<style>
  .bum-top {
    /* background: black; */
    color: white;
    #background-color: #E74C3C;
    background-color: #2c3e50;
    width: 100%;
    height: 120px;
    display: flex; 
  }
  .bum-message {
    /* background: red; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bum-button {
    /* background: blue; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bum-action{
	  border-style: solid;
	  border-width: 2px;
	  border-color: white;
	  color: white;
	  padding: 1rem;
  }

</style>




{% if 1 %}
<div class="bum-top">
  <div class="bum-message">
      <div>
        <div class="bum-text"><strong>L'AMORE CHIAMA 🎯</strong></div>
	<div class="bum-subtext">Milano 25-26 Gennaio</div>
      </div>
    </div>
  <div class="bum-button">
      <a href="https://bit.ly/tour-milano-012020">
    <div class="bum-action" style="text-decoration: none;">
          ISCRIVITI!
    </div>
      </a>
  </div>
</div>
{% endif %}
